.page{
  position: relative;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
}

button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow:
      0px 8px 28px -6px rgba(24, 39, 75, 0.12),
      0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
  }
  
  button:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  
.versions {
    margin: 0 auto;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    border-radius: 15px;
    background-color: #202127;
    backdrop-filter: blur(24px);
  }
  
  .versions li {
    display: block;
    float: left;
    border-right: 1px solid var(--ev-c-gray-1);
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
    &:last-child {
      border: none;
    }
  }
  
  @media (max-width: 720px) {
    .text {
      font-size: 20px;
    }
  }
  
  @media (max-width: 620px) {
    .versions {
      padding: 8px 0;
      margin: 0 8px;
    }
    .versions li {
      font-size: 10px;
      /* display: none; */
    }
  }
  
  @media (max-width: 350px) {
    .tip,
    .actions {
      display: none;
    }
  }
  